@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    font-family: 'VT323', monospace;
}

h1{
    text-align: center;
    font-size: 55px;
}

.controls{
    display: flex;
    gap: 5px;
    font-size: 25px;
}

.allthings{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

#box{
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.2rem;
    height: auto;
}

#container{
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(30, 2fr);
    grid-template-rows: repeat(30, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 500px;
    width: 500px;
    /* background-color: gray; */
    /* box-shadow: 10px 10px; */
}